.faq-heading {
    font-size: 40px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #333;    /* pakeisti i balta */
    margin-left: 100px;
}

.accordion {
    background-color: #474646;
    color: white;
    cursor: pointer;
    padding: 30px;
    width: calc(100% - 40px);
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: 100px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.active,
.accordion:hover {
    background-color: #7a7777;
}

.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 30px;    /* Šrifto dydis pliuso/minuso ženklui */
}

.accordion.active:after {
    content: "\2212";    /* Kai aktyvus, pakeičia + į - */
}

.accordion-item {
    margin-bottom: 10px; 
}

.panel {
    padding: 0 18px;
    background-color: #474646;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-left: 100px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(43, 42, 42, 0.582);
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    width: calc(100% - 80px);
    display: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.8;
    font-weight: normal;
    font-style: normal;
}